
body{
    background-color: rgb(238, 239, 245);
}
h1{
    background-color: rgb(243, 196, 12);
}
h2{
    background-color: rgb(248, 214, 188);
    
}

hr{
    border: 1px solid rgb(0, 0, 0)  ;
}

div{
    display: inline-block;
    background-color: rgb(240, 236, 231);
    border: 2px solid rgb(45, 234, 45);
    width: 200px;
    border-radius: 10px;
    margin: 10px 30px 60px 80px;
}


.main{
    border-style:double;
    width: 200px;
    height: 400px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: rgba(29, 28, 2, 0.288);
}

